<div class="login-container">

  <div class="login-box">
    <h1>Welcome, Please login to access UserHub</h1>
    <div>
    </div>

    <div>
      <form [formGroup]="formData" class="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="email">
          <mat-error *ngIf="invalidEmail()"> {{checkEmailValid()}} </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>


        <button type="submit" mat-raised-button>Submit</button>
      </form>
      <br>


      <h3>If new user, <a class="link" routerLink="/signup" (click)="handleSignupClick()" > Signup </a></h3>
    </div>
  </div>

</div>