
.home-container{
height: 100%;
width: 100%;
display: flex;
justify-content: center;
}

.name-box{
height: max-content;
width: 50vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color:ghostwhite; 
border-radius: 20px;
margin: 20px 0 20px 0; 
}

.name-list{
    width: 400px;
    text-align: center;
}